<ul class="countries__list">
    {{#each this}}
    <li data-alfa3code="{{this.alpha3Code}}">{{this.name}} - {{this.nativeName}}
        <img class="countries__flag" src="{{this.flag}}" alt="{{this.name}}">
    </li>
    {{/each}}
</ul>